* {
  color: var(--text-primary);
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: var(--bg-primary);
  display: flex;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}